:root {
    --main: #6a040f;
    --dark: #d00000;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background: url(https://i.pinimg.com/originals/a2/8a/06/a28a0609919893d350d803fd3a16428c.png) center center fixed;
    background-size: cover;
}
img {
    width: 100%;
}
.container {
    background: var(--dark);
    max-width: 1200px;
    margin: 200px auto 0;
    border-radius: 15px;
}
.image img {
    width: 500px;
}
span {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    font-size: 12px;
    padding: 5px;
    margin-left: auto;
    border: 1px solid var(--dark);
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
i.fi {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    color: var(--dark);
}
.acardion_content {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.item {
    background: var(--main);
    border-radius: 5px;
    color: #b0b0b0;
    margin: 0 0 0 20px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    transition: .2s;
}
.item:hover {
    color: #fff;
}
li.active {
    height: 110px;
}
li.active span {
    rotate: 180deg;
}
.acardions .item {
    margin: 15px 0;
}
.item .name {
    font-size: 16px;
    font-weight: 500;
    padding: 15px 10px;
    display: flex;
    align-items: center;
}
.item .desc {
    font-size: 14px;
    font-weight: 300;
    padding: 0 10px;
}